body {
  background-image: url("white-blanket.jpeg");
}
h1 {
  font-size: 6em;
  text-align: center;
  border: solid;
  border-radius: 31px;
  margin-top: 1px;
  color: #CCCCCC;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4), 0 9px 10px rgba(0, 0, 0, 0.2);
}
h2 {
  color: #CCCCCC;
  text-shadow: 0 1px 0 #999999, 0 2px 0 #888888, 0 3px 0 #777777, 0 4px 0 #666666, 0 5px 0 #555555, 0 6px 0 #444444, 0 7px 0 #333333, 0 8px 7px rgba(0, 0, 0, 0.4), 0 9px 10px rgba(0, 0, 0, 0.2);
}
h3 {
  text-shadow: 1px 1px 0 #FFFFFF, 2px 2px 0 #000000;
}

}
p {
  border: solid;
  width: 5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  border-radius: 31px;
}
fieldset {
  text-align: center;
  border-radius: 31px;
  display: flex;
}
.style1 {
  border: solid;
  width: 5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  border-radius: 31px;
  background-color: red;
  color: #0a0007;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF;
}
.style2 {
  border: solid;
  width: 5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  border-radius: 31px;
  background-color: blue;
  color: #0a0007;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF;
}
.style3 {
  border: solid;
  width: 5em;
  text-align: center;
  display: inline-block;
  font-size: 1em;
  border-radius: 31px;
  background-color: green;
  color: #0a0007;
  text-shadow: 0 0 5px #A5F1FF, 0 0 10px #A5F1FF, 0 0 20px #A5F1FF, 0 0 30px #A5F1FF, 0 0 40px #A5F1FF;
}
button {
      margin-left: 44em;
}
